h1
{
	font-size:40px;
    color:darkred
}
p
{
    font-size:20px;
}
h2
{
    font-size:30px;
	color:brown
}
h3
{
    font-size:18px;
}
.bax
{
    background-image: url("../image/check.jpg");
		width: 1000px;
		max-width: 200%;
		height: auto;
		margin: 30px auto;
		padding: 40px;
		border: 1px solid #ccc
}
th
{
    font-size:18px;
}
tr
{
    font-size:18px;
}
.btn
{

    background-color: #23c40e;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
}
.btn:hover
{
    background-color: #08f828;
    color: white;
}
.bttn1
{
    background-color: #1b67d8;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
}
.bttn1:hover
{
    background-color: #043fbe;
    color: white;
}
.bttn2
{
    background-color: #d81b2b;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
}
.bttn2:hover
{
    background-color: #be0404;
    color: white;
}
table
{
    width: 1000px;
}
